<!doctype html>
<html>
    <head>
        <title>Some cool node example site</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="A cool logo for cool example site"></header>
        {{{body}}}
    </body>
</html>
